body {
  background-color: rgb(0, 0, 0);
}
h1 {
  
    text-align: center;
    font-size: 40px;
    font-family: "Freeman", sans-serif;
    text-decoration-color:rgb(255, 255, 255)
    }
p { 
     text-align: left;
     font-size: 18px;
     font-weight: 50;
     font-family: "Noto Sans KR", sans-serif;
     color:rgb(255, 255, 255)
  }
h2 { 
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    line-height: 44px;
    font-family: "Freeman", sans-serif;
    color:rgb(255, 255, 255)
  }
a { 
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 44px;
    font-family: "Jersey 10", sans-serif;
    color:rgb(255, 255, 255)
  }