body {
  margin: 0;
  padding: 0;
  background: #000000;
  font-family: "Pretendard", sans-serif;
  word-break: keep-all;
  text-align: center;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0%;
  overflow: hidden;
  color:rgb(255, 255, 255)
}
li{
  float: left;
}
li a {
  display: block;
  padding: 10px;
  background-color: black;
  color: rgb(176, 176, 176);
  font-size: 20px;
  font-family: "Freeman", sans-serif;
  text-decoration: none;
}
/*change the link color to white on hover */
li a:hover{
  color:white
}

.header_wrap {
  width: 100vw;
  display: flex;
  position: fixed;
  justify-content: space-between;
  height: 10vh;
  background-color: #000000;
  list-style-type: none;
  text-align: center;
  z-index: 999;
}

.header_wrap li {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 5vh;
  padding-left: 1vw;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Freeman", sans-serif;
    color:rgb(255, 255, 255)
    }
p { 
     text-align: left;
     font-family: "Pretendard", sans-serif;
     font-size: 1em;
     text-align: center;
     color:rgb(255, 255, 255)
  }
h2 { 
    font-size: 30px;
    font-weight: 400;
    line-height: 44px;
    font-family: "Freeman", sans-serif;
    color:rgb(255, 255, 255)
}
h3 { 
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  font-family: "Pretendard", sans-serif;
  color:rgb(255, 255, 255)
}