body {
  background-color: rgb(0, 0, 0);
  margin-left: 5%;
  margin-right: 5%;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0%;
  overflow: hidden;
  color:rgb(255, 255, 255)
}
li{
  float: left;
}
li a {
  display: block;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "Freeman", sans-serif;
  font-style: normal;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Freeman", sans-serif;
    color:rgb(255, 255, 255)
    }
p { 
     text-align: left;
     font-size: 15px;
     font-weight: 50;
     font-family: "Noto Sans KR", sans-serif;
     color:rgb(255, 255, 255)
  }
h2 { 
    text-align: left;
    font-size: 35px;
    font-weight: 400;
    line-height: 44px;
    font-family: "Freeman", sans-serif;
    color:rgb(255, 255, 255)
}